body {
  background-color: HoneyDew;
  font-family: Helvetica;
}

h1  {
  text-align: center;
}

h3  {
  color: DarkOliveGreen;
}

a  {
border: 1px solid purple;
background-color: HoneyDew;
}

.smImg  {
  height: 30px;
  width: 30px;
}

#profileImage {
  border: 4px solid black;
}
