body {
  font-family: Helvetica;
}

h1  {
  text-align: center;
  background-color: aqua;
}

h2, h3  {
  color: DarkOliveGreen;
}

table, th, td   {
  border: 2px solid pink;
}

form  {
  background-color: PaleGreen;
}

.navLinks  {
border: 1px solid purple;
}

#navSection {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #e6f2ff;
  border: 2px solid #660066;
}

#bodySection {
  position: relative;
  top: 0px;
  background-color: HoneyDew;
}

.smImg  {
  height: 30px;
  width: 30px;
}

#profileImage {
  border: 4px solid black;
}
